flet[all]
pydantic
pydantic-settings
requests
sqlalchemy
fastapi
alembic
asyncpg
uvicorn
faker
pandas==2.1.0
numpy==1.26.4
opencv-python
ultralytics
pillow
python-multipart
pytest
pytest-asyncio
aiosqlite
playwright
